#toDoList:empty::before{
    content: "No hay tareas pendientes";
    color: rgb(88, 85, 85);
}

#completedList:empty::before{
    content: 'No hay tareas completadas';
    color: rgb(88, 85, 85);
}

body {
    font-family: Arial, sans-serif;
    background-color: #007bff; 
    color: #fff; 
    padding-top: 50px; /* Alineación vertical en dispositivos pequeños */
}
.task-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    color: #000;
}
h1 {
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}
.task-input {
    margin-bottom: 20px;
}
.task-list {
    list-style: none;
    padding: 0;
}
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.task-item:hover {
    background-color: #e0e0e0;
}
.task-buttons {
    display: flex;
    gap: 5px;
}
.task-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.task-buttons button:hover {
    background-color: #007bff;
    color: #fff;
}
.task-completed {
    margin-top: 20px;
    color: #000; /* Cambio de color de texto a negro */
}
.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.action-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Tamaño de fuente ajustado */
}
.action-buttons button:hover {
    background-color: #007bff;
    color: #fff;
}


#toDoList li {
    background-color: #ffffcc; 
    border-left: 5px solid #ffc107; 
}

#completedList li{
    background-color: #ceffcc; 
    border-left: 5px solid #07ff98; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li input[type="checkbox"] {
    margin-left: auto; /* Mueve el checkbox al final del li */
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo cuando el checkbox está marcado */
li input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #f9faf9;
}

/* Estilo del marcador del checkbox cuando está marcado */
li input[type="checkbox"]:checked::before {
    content: "\2714";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 18px;
    color: #fff;
}
